<footer class="container">
  <figure><img src="/assets/shared/desktop/logo.svg" alt=""></figure>
  <nav>
    <ul>
      <li>Home</li>
      <li><a href="../pages/about.html">About us</a></li>
      <li><a href="../pages/plan.html">Create your plan</a></li>
    </ul>
  </nav>
  <div>
    <a href=""><img src="/assets/shared/desktop/icon-facebook.svg" alt="icon-facebook"></a>
    <a href=""><img src="/assets/shared/desktop/icon-twitter.svg" alt="icon-twitter"></a>
    <a href=""><img src="/assets/shared/desktop/icon-instagram.svg" alt="icon-instagram"></a>
  </div>
</footer>

