<header class="container">
  <figure class="logo"><img src="/assets/shared/desktop/logo.svg" alt=""></figure>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../pages/about.html">About us</a></li>
      <li><a href="../pages/plan.html">Create your plan</a></li>
    </ul>
  </nav>
</header>