<header class="container">
  <figure><img src="/assets/shared/desktop/logo.svg" alt=""></figure>
  <nav>
    <ul>
      <li>Home</li>
      <li><a href="../../about.html">About us</a></li>
      <li><a href="../../plan.html">Create your plan</a></li>
    </ul>
  </nav>
</header>